@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
  padding: 0;
  margin: 0;

  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

.linear-wipe {
  font-size: 72px;
  text-align: center;
  
  background: linear-gradient(45deg,#FC00FF 0%, #00DBDE 20%, #FC00FF 40%, #FC00FF 60%, #00DBDE 80%, #FC00FF 100%);
  background-size: 200% auto;
  
  color: #000;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
  animation: gradient 7s linear infinite;
}

@keyframes gradient {
  to {
    background-position: 200% center;
  }
}

@media screen and (max-width: 600px){
  .linear-wipe{
    font-size: 56px;
  }

  .mainContainer{
    margin-left: 0;
    margin: 1rem;
    margin-top: 3.5rem;
  }
}

@media screen and (max-width: 425px){
  .linear-wipe{
    font-size: 48px;
  }
}

@media screen and (max-width: 365px){
  .linear-wipe{
    font-size: 40px;
  }
}

.linearWipe {
  font-size: 28px;
  text-align: center;
  
  background: linear-gradient(45deg,#FC00FF 0%, #00DBDE 20%, #FC00FF 40%, #FC00FF 60%, #00DBDE 80%, #FC00FF 100%);
  background-size: 200% auto;
  
  color: #000;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
  animation: gradient 7s linear infinite;
}